= content_for :title do
  %h1
    Starred repositories
    = link_to sync_stared_repos_path, data: { remote: true, method: :put }, class: 'sync-button' do
      %span.glyphicon.glyphicon-refresh

%ul#stared-repos.list-group
  = render @stared_repos
